<!DOCTYPE html>
<html lang="pt-BR">
<%- include layouts/header %>
    </head>
    </head>

    <body>
        <%- include layouts/navbar %>

            <div class="container">
                <h2 class="my-4"> Dashboard </h2>

                <div class="row">
                    <div class="col-md-4">
                        <div class="card text-dark bg-light mb-3">
                            <div class="card-header">Veículos Novos</div>
                            <div class="card-body">
                                <h1 class="text-center display-3">
                                    <%= data.novos.novos %>
                                </h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card text-dark bg-light mb-3">
                            <div class="card-header">Veículos Usados</div>
                            <div class="card-body">
                                <h1 class="text-center display-3">
                                    <%= data.seminovos.seminovos %>
                                </h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card text-dark bg-light mb-3">
                            <div class="card-header">Veículos Destaque</div>
                            <div class="card-body">
                                <h1 class="text-center display-3"><%= data.destaques.destaques %></h1>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-8">
                        <div class="card text-dark bg-light mb-3">
                            <div class="card-header">Últimos veículos cadastrados</div>
                            <div class="card-body">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">Modelo</th>
                                            <th scope="col">Marca</th>
                                            <th scope="col">Ano</th>
                                            <th scope="col">Valor</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                            <td>@mdo</td>
                                        </tr>
                                        <tr>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>@mdo</td>
                                            <td>@fat</td>
                                        </tr>
                                        <tr>
                                            <td>@mdo</td>
                                            <td>Larry the Bird</td>
                                            <td>@mdo</td>
                                            <td>@twitter</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card text-dark bg-light mb-3">
                            <div class="card-header">Usuários cadastrados</div>
                            <div class="card-body">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">Nome</th>
                                            <th scope="col">Login</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                        </tr>
                                        <tr>
                                            <td>Thornton</td>
                                            <td>@fat</td>
                                        </tr>
                                        <tr>
                                            <td>@fat</td>
                                            <td>@twitter</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <%- include layouts/footer %>
    </body>
    </body>

</html>