<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ../layouts/header %></head>
<body>    
    <%- include ../layouts/navbar %>
    <div class="container mt-5">
        <div class="rol-8 form-group col-12">
            <a href="listColors" class="btn btn-dark float-end">Cores Cadastradas</a>
        </div>
        <h1 class="text-center"> Cadastro de Cores </h1>
        <form method="POST" action="/atualizarColors">
            <div class="row">
                <div class="form-group col-12 mb-3">
                    <label class="form-labbel">Cor:</label>
                    <input type="text" class="form-control" name="cor" value="<%=data.cor%>">
                    <input type="hidden" name="id" value="<%=data.id %>">
                </div>
                <div class="rol-8 form-group col-12 mb-3">
                    <button type="submit" class="btn btn-success float-end">Salvar</button>
                </div>
            </div>
        </form>
    </div>
    <%- include ../layouts/footer %></body>
</html>