<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include ../layouts/header %>
</head>

<body>
    <%- include ../layouts/navbar %>

    <div class="container mt-5">
        
        <div class="row my-3">
            <div class="col">
                <h2 class="text-start">Veículos</h2>
            </div>
            <div class="col-auto">
                <a href="cadastroVehicles" class="btn btn-success float-end">Adicionar</a>
            </div>
        </div>

        <table id="example" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th></th>
                    <th>Modelo</th>
                    <th>Marca</th>
                    <th>Ano</th>
                    <th>Valor</th>
                    <th>Cor</th>
                    <th>Tipo</th>
                    <th>Destaque?</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% for(let d of data) { %>
                <tr class="align-middle">
                    <td><img src="<%= d.foto %>" alt="<%= d.modelo %>" style="width: 80px;"></td>
                    <td><%= d.modelo %></td>
                    <td><%= d.marca %></td>
                    <td><%= d.anofabricacao %>/<%= d.anomodelo %></td>
                    <td><%= (d.valor).toLocaleString('pt-br',{style: 'currency', currency: 'BRL', minimumFractionDigits: 0}) %></td>
                    <td><%= d.cor %></td>
                    <td><%= d.tipo %></td>
                    <td><%= d.destaque ? 'Sim' : 'Não' %></td>
                    <td>
                        <a href="/veiculos/editar/<%= d.id %>" type="button" class="btn btn-success">
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                        <a href="/veiculos/excluir/<%= d.id %>" type="button" class="btn btn-danger">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>

    <%- include ../layouts/footer %>

</body>
</html>