<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include ../layouts/header %>
</head>

<body>
    <%- include ../layouts/navbar %>

    <div class="container mt-5">
        <table class="table">
            <div class="rol-8 form-group col-12">
                <a href="cadastroUsers" class="btn btn-dark float-end">Usuários Cadastradas</a>
            </div>
            <h1 class="text-center">Usuários</h1>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Login</th>
                </tr>
            </thead>
            <tbody>
                <% for(let d of data) {%>
                <tr>
                    <th scope="row"><%= d.id %></th>
                    <td><%= d.nome %></td>
                    <td><%= d.login %></td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>

    <%- include ../layouts/footer %>
</body>
</html>