<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include ../layouts/header %>
</head>

<body>
    <%- include ../layouts/navbar %>

    <div class="container mt-5">

        <div class="row my-3">
            <div class="col">
                <h2 class="text-start">Cores</h2>
            </div>
            <div class="col-auto">
                <a href="cadastroColors" class="btn btn-success float-end">Adicionar</a>
            </div>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                <% for(let d of data) {%>
                <tr class="align-middle">
                    <td scope="row"><%= d.id %></td>
                    <td><%= d.cor %></td>
                    <td class="col-auto">
                        <a href="editColors/<%=d.id%>" class="btn btn-success"><i class="fas fa-pencil-alt"></i></a>
                        <a href="excluirColors/<%=d.id%>" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>

    <%- include ../layouts/footer %>
</body>
</html>