<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include ../layouts/header %>
</head>

<body>
    <%- include ../layouts/navbar %>

    <div class="container mt-5">
        <table class="table">
            <div class="col-auto">
                <a href="cadastroUsers" class="btn btn-success float-end">Adicionar</a>
            </div>
            <h1 class="text-center">Usuários</h1>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Login</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                <% for(let d of data) {%>
                <tr>
                    <th scope="row"><%= d.id %></th>
                    <td><%= d.nome %></td>
                    <td><%= d.login %></td>
                    <td>
                        <a href="editUsers/<%=d.id%>" class="btn btn-success">Editar</a>
                        <a href="excluirUsers/<%=d.id%>"" class="btn btn-danger">Excluir</a>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>

    <%- include ../layouts/footer %>
</body>
</html>